.body {
    margin:0%;
    font-family:-apple-system, BlinkMacSystemFont,'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell,'Open Sans','Helvetica Neue',sans-serif
}
:root {
    --celeste-color:rgb(48,209,242)
}
.title {
    text-transform:capitalize;
    font-weight:300;
    font-size:24px;
}
.title-2 {
    text-transform:capitalize;
    font-weight:300;
    font-size:20px;
}
.enlace {
    color:var(--celeste-color);
    font-weight:700;
}
.fecha {
    color:grey;
    font-size:12px;
    text-transform:capitalize;
}
.cabecera-conteiner {
    display:grid;
    grid-template-columns:1fr 15% 70% 1fr;
    grid:7% 79% 14%;
    grid-column:1/5;
    row-gap:1/4;
    background-image:url(fotos/fotopuertodesdelaaltura.jpg)
    background-size:100%auto;
}
.logo-cabecera {
    grid-column:2;
    grid-row:1px;;
    z-index:2;
    width:70%;
}
.datos-busqueda {
    background-color:black;
    grid-column:1/5;
    break-inside:1/2;
    color:white;
    font-size:12px;
    display:flex;
    padding-left:20%;
    padding-background:0,1%;
}
.lista-datos-items {
    column-rule:3/4;
    display:flex;
    list-style:none;
    letter-spacing:2px;
    letter-spacing:5px;
    margin-right:10%;
    text-transform:capitalize;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.buscador {
    grid-row:3/4;
    justify:right;
    width:300px;
    padding:1%;
    max-height:20px;
}
.buscador-menu {
    background:none;
    border:none;
    border-bottom-style:1px;
    color:white;
}
.menu-superior {
    grid-column:3/4;
    grid-row:2 ;
    display:flex;
    padding-top:1%;
    align-self:top;
    padding-left:55%;
}
.menu-superior-items {
    padding:1%;
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    flex-wrap:wrap;
}
.menu-superior-items  a {
    text-transform:capitalize;
    letter-spacing:2px;
    color:white;
    text-decoration:none;
}
.cabecera-menu-inferior {
    grid-column:1/5;
    grid-row:3/4;
    text-align:center;
    display:flex;
    flex-direction:row;
    z-index:2;
    padding-left:1%;
}
.cabecera-menu-inferior-items {
    grid-column:2/4;
    list-style:none;
    padding:2%;
    padding-background:3%;
}
.cabecera-menu-inferior-items  a {
    color:white;
    font-size:12px;
    font-weight:700;
    text-transform:capitalize;
    text-decoration:none;
    text-align:left;
    margin:5%;
    letter-spacing:2px;
    border-color:rgba(255,255,255,0.705);
}
.titulacion {
    display:grid;
    grid-template-columns:1fr 50% 25% 300px 1fr;
    grid-template-rows:2fr 2fr 1fr;
    grid-column:2/4;
    grid-row:2/4;
    background-position:4%;
}
.titulacion  h1 {
    clear:both;
    color:white
    grid-column:2/3;
    grid-row:2/3;
    font-size:3,5;
    font-weight:400;
}
b {
    font-weight:700;
}
.cabecera-link {
    color:white;
    clear:both;
    grid-column:4/5;
    grid-row:3/5;
}
.cifras-destacadas-container {
    padding:3%;
    width:100%;
    align-self:center;
}
.cifras-destacadas {
    color:grey;
    text-align:center;
}
.tabla-cifra {
    align-self:center;
}
.tabla-cifra  td {
    padding-right:1%;
    padding-left:1%;
}
.cifra  i {
    color:grey;
}
.cifra {
    font-size:30px;
    color:var(--light-blue-color);
}
.cifra-2 {
    color:grey;
}
.sostenibilidad-horizonte {
    width:100 %;
    height:100 %;
    backdrop-filter:url(commonfilters.svg#filter);
    background-image:url(fotohorizonteatardecer.jpg)
    background-repeat:no-repeat;
    object-fit:cover;
    background-size: 100%auto;
    padding:10%;
}
.sostenibilidad-t {
    color:white;
    text-align:center;    
}
.sostenibilidad {
    width:20%;
    height:33,33%;
}
.sostenibilidad-bajada {
    font-size:15px;
    color:white;
    letter-spacing:2px;
    text-align:center;
    clear:both;
    width:70ch;
    margin-bottom:5%;
}
.imagen-sostenibilidad {
    object-fit:contain;
    object-position:center;
    align-self:top;
    height:2fr;
    width:100%;
}
.contenido-sostenibilidad {
    position:relative;
    display:flex;
    flex-direction:row;
}
.sostenibilidad  figcaption {
    color:white;
    text-align:left;
    font-size:12px;
    letter-spacing:2px;
    clear:both;
    margin-top:3%;
    width:100%;
    height:1fr;
}
.sostenibilidad-link {
    margin:5%;
    align-content:center;
}
.sostenibilidad-link  a {
    text-decoration:none;
    text-transform:capitalize;
    color:white;
    background-color:rgba(0,0,0,0.699);
    padding:3%;
    margin:3%;
}
.comunicaciones-container {
    background-color:#e4e6e8;
    width:100%;
    height:100%;
}